<ul class="navbar">
    <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="navbar__item"><a routerLink="/">Home</a></li>
    <li routerLinkActive="active" class="navbar__item"><a routerLink="/rooms">Rooms</a></li>
    <li routerLinkActive="active" class="navbar__item"><a routerLink="/services">Services</a></li>
    <li routerLinkActive="active" class="navbar__item"><a routerLink="/offers">Offers</a></li>
    <li routerLinkActive="active" class="navbar__item"><a routerLink="/gallery">Gallery</a></li>
    <li routerLinkActive="active" class="navbar__item"><a routerLink="/news">News</a></li>
    <li routerLinkActive="active" class="navbar__item"><a routerLink="/reviews">Reviews</a></li>
    <li routerLinkActive="active" class="navbar__item"><a routerLink="/contacts">Contacts</a></li>
</ul>
