<footer class="container bg__footer">
    <div class="inner inner__footer">
        <div class="footer__top">
            <div class="footer__left">
                <a class="footer__map-link" href="https://www.google.com/maps/@34.0823283,-118.2241064,17.72z?authuser=0&entry=ttu">286 Golden State, Los Angeles, LA 11238, United States</a>
                <ul class="footer__social-medias">
                    <li><a class="footer__social-media" href="https://twitter.com/"><img src="assets/twitter.svg" alt="twitter icon"></a></li>
                    <li><a class="footer__social-media" href="https://www.instagram.com/"><img src="assets/instagram.svg" alt="instagram icon"></a></li>
                    <li><a class="footer__social-media" href="https://es-la.facebook.com/"><img src="assets/facebook.svg" alt="facebook icon"></a></li>
                </ul>
            </div>
            <div class="footer__right">
                <p class="footer__time">Write to us</p>
                <p class="footer__time footer__time_mb"><a href="mailto:email@angle.com" class="footer__link">email@angle.com</a></p>
                <p class="footer__time">Our phone</p>
                <p class="footer__time"><a href="tel:+136745677554" class="footer__link">+1 36 987 65 43</a></p>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__year">2023</p>
            <a href="https://rs.school/js-stage0/" class="footer__link">The Angle Hotel</a>
            <a href="https://github.com/REGEMLER" class="footer__link">YarNight</a>
        </div>
    </div>
</footer>
