@import "../../../app.component.scss";

.services {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-image: url("../../../../assets/banket2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 40px;
}

.services__item {
    max-width: 50%;
    width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all linear .5s;
    &:hover {
        background-color: #fff;
        border-radius: 10px;
        .services__text {
            color: black;
        }
    }
    .services__img {
        width: 70px;
        height: 70px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .services__text {
        @include textStyle($secont-font, $logo, 40px, 400, white);
    }
}
