<div class="review-form">
    <div class="info">
        <h2 class="title">Share review about living in our hotel</h2>
        <h3 class="subtitle">Comments left in the questionnaire are not official appeals and are not subject to the Law of the USA of July 18, 2011 «On the appeals of citizens and legal entitie.</h3>
    </div>
    <form action="#">
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your email">
        <textarea name="textarea" id="" cols="30" rows="10"></textarea>
        <input type="checkbox" id="checkbox">
        <label class="label-chb" for="checkbox">I agree to the processing of personal data in accordance with the terms. (Look)</label>
        <button class="btn">SEND review</button>
    </form>
</div>