@import "../../../app.component.scss";

.review-form {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.info {
    flex-basis: 30%;
    .title {
        max-width: 300px;
        margin: 10px auto;
        @include textStyle($secont-font, $title, 44px, 400, black);
    }
    .subtitle {
        max-width: 300px;
        margin: 10px auto;
        @include textStyle($main-font, $text, 20px, 400, black);
    }
}

form {
    input[type="text"], input[type="email"]  {
        display: inline-block;
        margin: 10px 0;
        width: 500px;
        height: 80px;
        padding: 10px;
        background-color: $field-color;
        border: none;
        outline: none;
        @include textStyle($main-font, $title, 20px, 400, black);
        transition: all linear .3s;
        &:focus {
            border: 2px solid $second-color;
        }
    }
    textarea {
        display: block;
        margin: 30px 0;
        width: 700px;
        height: 300px;
        background-color: $field-color;
        border: none;
        outline: none;
        @include textStyle($main-font, $logo, 30px, 400, black);
        transition: all linear .3s;
        &:focus {
            border: 2px solid $second-color;
        }
    }
    input[type="checkbox"] {
        display: none;
        + .label-chb {
            display: block;
            width: 100%;
            position: relative;
            left: 70px;
            @include textStyle($main-font, $subtitle, 24px, 400, black); 
            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                background-color: $field-color;
                top: 50%;
                left: -60px;
                transform: translateY(-50%);
            }
        }
        &:checked {
            + .label-chb {
                &::after {
                    content: "X";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid $second-color;
                    @include textStyle($main-font, $subtitle, 24px, 400,  $second-color); 
                }

            }
        }

    } 

    

    .btn {
        display: block;
        width: 200px;
        height: 70px;
        margin: 20px;
        background-color: $field-color;
        border: 2px solid $second-color;
        @include textStyle($main-font, $subtitle, 24px, 400, black); 
        text-transform: uppercase;
        cursor: pointer;
        transition: all linear .6s;

        &:hover {
            background-color: $second-color;
            color: white;
        }
    }
    
}