@import "../../../app.component.scss";

.bg__offer{
    background-color: $light-color;
}

.inner__offer{
    padding: 85px 40px;
    
    @media screen and (max-width: 1050px){
        padding: 85px 30px;
    }
    @media screen and (max-width: 800px){
        padding: 100px 30px;
    }
    @media screen and (max-width: 550px){
        padding: 42px 25px;
    }
    @media screen and (max-width: 330px){
        padding: 50px 25px;
    }

    .friends-title{
        @extend %title; 
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        color: $color-title;
        letter-spacing: 0.05em;

        @media screen and (max-width: 330px){
            letter-spacing: 0.02em;
        }
    }

    .friends-btn{
        @extend %btn; 
        color: $color-btn;
        display: block;
        width: 260px;
        margin: 0 auto;
        height: 50px;
        padding: 15px 45px;
        border-radius: 100px;
        background-color: $primary-color;
        border-radius: 100px;
        text-align: center;
        letter-spacing: 0.04em;
        transition:  background-color linear 1s, transform linear 1s;

        &:hover{
            background-color: $light-color;
            transform: scale(1.05);
        }
        &:active{
            transform: scale(0.95);
            background-color: $primary-color;
        }
    }
}



//////////////////////////////////////////////////////SLIDER
.friends-slider{
    width: 100%;
    margin: 60px auto;

    @media screen and (max-width: 330px){
        margin: 40px auto;
        margin-bottom: 45px;
    }

    .friends-cards{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 430px){
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .friend-arrow{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition:  background-color linear 1s, transform linear 1s;

            @media screen and (max-width: 430px){
                margin-top: 20px;
            }

            &:hover{
                transform: scale(1.05);
                background-color: $primary-color;
            }
            &:active{
                transform: scale(0.95);
            }

            img{
                width: 14px;
                height: 6px;
            }
        }

        .friends-carusel{
            max-width: 970px;
            overflow: hidden;

            @media screen and (max-width: 950px){
                max-width: 570px;
            }

            @media screen and (max-width: 700px){
                max-width: 270px;
            }

            @media screen and (max-width: 430px){
                max-width: 335px;
                order: -1;
                flex-grow: 2;
            }

            // Елси это не сделать плохой переход между 430 и 370
            @media screen and (max-width: 369px){
                max-width: 270px;;
            }

            .friends-inner{
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center; 

                .friends-section{
                    display: flex;
                    justify-content: space-between;
                    align-items: center; 
    
                    @media screen and (max-width: 430px){
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}

.friend-card{
    width: 270px;
    height: 435px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-link-a;
    border-radius: 9px 9px 0px 0px;
    cursor: pointer;
    transition: background-color linear 1s;

    @media screen and (max-width: 1150px){
        margin: 0 20px;
    }
    @media screen and (max-width: 1000px){
        margin: 0 10px;
    }
    @media screen and (max-width: 550px){
        margin: 0;
    }


    &:hover{
        background-color: $color-white;

        .freind-card-btn{
            background-color: $light-color;
            transform: scale(1.05);
        }
    }
     
    .friend-img{
        width: 270px;
        height: 270px;
        object-fit: cover;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .friend-subtitle{
        @extend %subtitle; 
        text-align: center;
        color: $color-title;
        margin-top: 30px;
        letter-spacing: 0.06em;
    }

    .freind-card-btn{
        @extend %btn; 
        display: block;
        width: 185px;
        margin: 30px auto;
        height: 50px;
        color: $color-btn;
        padding: 15px 45px;
        border-radius: 100px;
        border: 2px solid $primary-color;
        background-color: $color-white;
        cursor: pointer;
        transition:  background-color linear 1s, transform linear 1s;

        &:active{
            transform: scale(0.95);
            background-color: $primary-color;
        }
    }
}

.friend-card3{
    @media screen and (max-width: 950px){
        display: none;
    }
}

.friend-card2{
    @media screen and (max-width: 700px){
        display: none;
    }
}

@keyframes slider-right{
    from{ left: 0px;}
    to{left: -1050px;} 
}

@keyframes slider-right-mid{
    from{ left: 0px;}
    to{left: -580px;} 
}

@keyframes slider-right-small{
    from{ left: 0px;}
    to{left: -270px;} 
}

@keyframes slider-left{
    from{ left: 0px;}
    to{left: 1050px;} 
}

@keyframes slider-left-mid{
    from{ left: 0px;}
    to{left: 580px;} 
}

@keyframes slider-left-small{
    from{ left: 0px;}
    to{left: 270px;} 
}

.carusel-left{
    animation-name: slider-left;
    animation-duration: 3s;

    @media screen and (max-width: 950px){
        animation-name: slider-left-mid;
        animation-duration: 2s;
    }

    @media screen and (max-width: 700px){
        animation-name: slider-left-small;
        animation-duration: 1s;
    }
}

.carusel-right{
    animation-name: slider-right;
    animation-duration: 3s;

    @media screen and (max-width: 950px){
        animation-name: slider-right-mid;
        animation-duration: 2s;
    }

    @media screen and (max-width: 700px){
        animation-name: slider-right-small;
        animation-duration: 1s;
    }
}

.friends-back, .friends-forward{
    opacity: 0;
}

.slide__animated{
    opacity: 1;
}