<section class="bg__offer">
    <div class="inner inner__offer">
        <app-title [title]="title"></app-title>
        <div class="offer-slider">
            <div class="offer-cards">
                <div class="offer-arrow offer-left"><img src="assets/Arrow-left.svg" alt="arrow left"></div>
                <div class="offer-carusel">
                    <div class="offer-content">
                        <ul class="offer-section offer-center">
                            <li *ngFor="let offer of offers">
                                <app-offer-card [title]="offer.text" [alt]="offer.alt" [link]="offer.link"></app-offer-card>
                            </li>
                        </ul>    
                    </div>                 
                </div>
                <div class="offer-arrow offer-right"><img src="assets/Arrow-right.svg" alt="arrow right"></div>
            </div>
        </div>
        <a href="#" routerLink="/offers" class="offer-btn">All offers</a>
    </div>  
</section>
