<section class="bg__offer">
    <div class="inner inner__offer">
        <h2 class="friends-title">We offer</h2>
        <div class="friends-slider">
            <div class="friends-cards">
                <div class="friend-arrow friends-left"><img src="icons/Arrow-left.svg" alt="arrow left"></div>
                <div class="friends-carusel">
                    <div class="friends-inner">
                        <div class="friends-section friends-back">
                            <div id="cardID4" class="friend-card friend-card1">
                                <div class="friend-img"><img src="IMG/pets-Sophia.png" alt="Cat Katrine"></div>
                                <h3 class="friend-subtitle">Sophia</h3>
                                <button class="freind-card-btn">Learn more</button>
                            </div>
                            <div id="cardID5" class="friend-card friend-card2">
                                <div class="friend-img"><img src="IMG/pets-timmy.png" alt="dog Jennifer"></div>
                                <h3 class="friend-subtitle">Timmy</h3>
                                <button id="1" class="freind-card-btn">Learn more</button>
                            </div>
                            <div id="cardID6" class="friend-card friend-card3">
                                <div class="friend-img"><img src="IMG/pets-charly.png" alt="dog Woody"></div>
                                <h3 class="friend-subtitle">Charly</h3>
                                <button id="3" class="freind-card-btn">Learn more</button>
                            </div>
                        </div>  
                        <div class="friends-section friends-center">
                            <div id="cardID1" class="friend-card friend-card1">
                                <div class="friend-img"><img src="IMG/pets-katrine.png" alt="Cat Katrine"></div>
                                <h3 class="friend-subtitle">Katrine</h3>
                                <button class="freind-card-btn">Learn more</button>
                            </div>
                            <div id="cardID2" class="friend-card friend-card2">
                                <div class="friend-img"><img src="IMG/pets-jennifer.png" alt="dog Jennifer"></div>
                                <h3 class="friend-subtitle">Jennifer</h3>
                                <button id="1" class="freind-card-btn">Learn more</button>
                            </div>
                            <div id="cardID3" class="friend-card friend-card3">
                                <div class="friend-img"><img src="IMG/pets-woody.png" alt="dog Woody"></div>
                                <h3 class="friend-subtitle">Woody</h3>
                                <button id="3" class="freind-card-btn">Learn more</button>
                            </div>
                        </div>    
                        <div class="friends-section friends-forward">
                            <div id="cardID7" class="friend-card friend-card1">
                                <div class="friend-img"><img src="IMG/pets-scarlet.png" alt="Cat Katrine"></div>
                                <h3 class="friend-subtitle">Scarlett</h3>
                                <button class="freind-card-btn">Learn more</button>
                            </div>
                            <div id="cardID8" class="friend-card friend-card2">
                                <div class="friend-img"><img src="IMG/Freddie.png" alt="dog Jennifer"></div>
                                <h3 class="friend-subtitle">Freddie</h3>
                                <button id="1" class="freind-card-btn">Learn more</button>
                            </div>
                            <div id="cardID3" class="friend-card friend-card3">
                                <div class="friend-img"><img src="IMG/pets-woody.png" alt="dog Woody"></div>
                                <h3 class="friend-subtitle">Woody</h3>
                                <button id="3" class="freind-card-btn">Learn more</button>
                            </div>
                        </div> 
                    </div>                 
                </div>
                <div class="friend-arrow friends-right"><img src="icons/Arrow-right.svg" alt="arrow right"></div>
            </div>
        </div>
        <a href="Pages/pets.html" class="friends-btn">Get to know the rest</a>
    </div>  
</section>
