@import "../../../app.component.scss";

.bg__offer{
    background-color: $light-color;
}

.inner__offer{
    padding: 85px 40px;
    
    @media screen and (max-width: 1050px){
        padding: 85px 30px;
    }
    .offer-title{
        width: 100%;
        margin: 20px auto 0 auto;
        @include textStyle($main-font, $title, 40px, 400, $dark-color);
        letter-spacing: 2px;
        text-transform: capitalize;
        text-align: center;
        position: relative;
        &:after{
            content: "";
            width: 50px;
            margin: 0 auto;
            margin-bottom: 40px;
            height: 1px;
            background-color: $dark-color;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
        }
    }

    .offer-btn{
        display: block;
        width: 260px;
        margin: 0 auto;
        height: 50px;
        padding: 15px 45px;
        border-radius: 100px;
        background-color: $main-color;
        text-align: center;
        @include textStyle($secont-font, $subtitle, 20px, 400, white);
        letter-spacing: 0.04em;
        transition:  background-color linear 1s, transform linear 1s;

        &:hover{
            background-color: $main-color-a;
            transform: scale(1.05);
        }
        &:active{
            transform: scale(0.95);
            background-color: $main-color;
        }
    }
}

.offer-slider{
    width: 100%;
    margin: 60px auto;

    @media screen and (max-width: 330px){
        margin: 40px auto;
        margin-bottom: 45px;
    }

    .offer-cards{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 430px){
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .offer-arrow{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid $main-color;
            cursor: pointer;
            transition:  background-color linear 1s, transform linear 1s;

            @media screen and (max-width: 430px){
                margin-top: 20px;
            }

            &:hover{
                transform: scale(1.05);
                background-color: $main-color-a;
            }
            &:active{
                transform: scale(0.95);
            }

            img{
                width: 14px;
                height: 6px;
            }
        }

        .offer-carusel{
            max-width: 970px;
            overflow: hidden;

            @media screen and (max-width: 950px){
                max-width: 570px;
            }

            @media screen and (max-width: 430px){
                max-width: 335px;
                order: -1;
                flex-grow: 2;
            }

            .offer-content{
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center; 

                .offer-section{
                    display: flex;
                    justify-content: space-between;
                    align-items: center; 
                    gap: 30px;
                }
            }
        }
    }
}

.offer-card{
    width: 300px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second-color;
    border-radius: 9px 9px 0px 0px;
    cursor: pointer;
    transition: background-color linear 1s;

    @media screen and (max-width: 1150px){
        margin: 0 20px;
    }
    &:hover{
        background-color: $second-color-hover;
    }
     
    .offer-img{
        width: 300px;
        height: 270px;
        object-fit: cover;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .offer-subtitle{
        @include textStyle($secont-font, $subtitle, 20px, 400, white);
        text-align: center;
        margin-top: 30px;
        letter-spacing: 0.06em;
    }

    .offer-card-btn{
        display: block;
        width: 185px;
        margin: 30px auto;
        height: 50px;
        color: $main-color;
        padding: 15px 45px;
        border-radius: 100px;
        border: 2px solid $main-color;
        background-color: $main-color;
        @include textStyle($secont-font, $text, 20px, 400, white);
        cursor: pointer;
        transition:  background-color linear 1s, transform linear 1s;

        &:active{
            transform: scale(0.95);
            background-color: $main-color-a;
        }
    }
}

.offer-card3{
    @media screen and (max-width: 950px){
        display: none;
    }
}