@import "../../../app.component.scss";
.btn {
    display: block;
    width: 185px;
    margin: 30px auto;
    height: 50px;
    color: $main-color;
    padding: 15px 45px;
    border-radius: 100px;
    border: 2px solid $main-color;
    background-color: $main-color;
    @include textStyle($secont-font, $text, 20px, 400, white);
    cursor: pointer;
    transition:  background-color linear 1s, transform linear 1s;

    &:active{
        transform: scale(0.95);
        background-color: $main-color-a;
    }
}